{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-12">

            <h3 class="text-center">Ventas <i class="fas fa-users"></i></h3>
            <div class="col-md-3 pb-2">
                <a href="{% url 'AddVenta' %}">
                    <button type="button" class="btn btn-success">
                        Agregar Ventas
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </a>
            </div>
            </h3>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th># ID</th>
                        <th>Descripcion</th>
                        <th>Coste $</th>
                        <th>Precio $</th>
                        <th>Cantidad $</th>
                        <th>Imagen $</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in productos %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.Coste}}</td>
                        <td>{{i.Precio}}</td>
                        <td>{{i.Cantidad}}</td>
                        {% if i.imagen %}
                        <td><img src="{{i.imagen.url}}" alt="Error" width="100" height="100"></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>
                            <button
                                onclick="editarProducto('{{i.id}}', '{{i.descripcion}}', '{{i.costo}}','{{i.precio}}','{{i.Cantidad}}')"
                                class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EditarPersonalModal"><img
                                    src="{% static 'index/img/editar.png' %}" alt="Error" width="30"></button>
                            <button onclick="eliminarProducto('{{i.id}}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarPersonalModal"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}